html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
/*    max-width: 50em;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

header {
/*    max-width: 50em;*/
/*    background-color: black*/
}

.banner_text > h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 4em;
    margin: 0 0 0 0;
}

.banner_text {
    margin-left: auto;
    margin-right: 10em;
    display: inline-block
}

.banner_text > p {
    font-size: 1.2em;
    margin: 0;
}

header > img {
/*    float:right;*/
    border-radius: .6em 0 .9em 0;
    border: solid .2em;
}

@media only screen and (max-width: 550px) {
    .banner_text > h1 {
        font-size: 3em;
    }
}

h1 {
/*    font-size: 1.5em;*/
}

.moreabout {
    margin: 0.4em 0.9em;
}

p, .moreabout > p {
    margin: 0.4em 0 0 .4em;
}

.intro > p,
.where > p,
.moreabout > p,
footer > p {
	letter-spacing: 0.01em;
}

.projects >img {
    border: 3px solid  #000000;
    border-radius: 1em;
}

footer {
	margin-top: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #699BBA;
	border-bottom: 1em solid #246485;
    text-align: center;
}
    
.sociallinks > li {
	display: inline;
}

footer p {
	color: white;
}



    

