html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
/*    max-width: 50em;*/
}

header {
/*    max-width: 50em;*/
/*    background-color: black*/
}

.banner_text > h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
/*    font-weight: 700;*/
/*    line-height: 2em;*/
    font-size: 4em;
    margin: 0 0 .2em 0;
/*    color:#ffffff;*/
    }

.banner_text > p {
    font-size: 1.2em;
    margin: 0;
}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
/*    font-weight: 700;*/
/*    line-height: 23px;*/
    margin: 0.4em 0 0 .4em;
    }
    
.banner_text {
    margin-left: auto;
    margin-right: 10em;
    display: inline-block
}

header > img {
    float:right;
    border-radius: .6em 0 .9em 0;
    border: solid .2em;
}

.sociallinks > li {
	display: inline;
}

.moreabout {
    margin: 0.4em 0.9em;
}

.intro > p,
.where > p,
.moreabout > p,
footer > p {
	letter-spacing: 0.01em;
/*
}

h2 {
	font-size: 1.25em;
}

h1 {

}
*/

footer {
	margin-top: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #699BBA;
	border-bottom: 1em solid #246485;
}

footer p {
	color: white;
}



    

