html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    position:fixed;
    min-height: 5em;
    min-width: 100%;
    padding: 1em;
    background: linear-gradient(315deg, #2E475D 0%,#A0CDEC 100%);
    border-bottom: 0.5em solid #2E475D;
}

.banner_text > h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3.5em;
    margin: 0 0 0 0;
}

.banner_text {
    margin-left: auto;
    display: inline-block
}

.banner_text > p {
    font-size: 1.1em;
    margin: 0;
    padding-left: 1.3em;
}

header > img {
    border-radius: .6em 0 .9em 0;
/*    border: 1px solid #b5b5b5;*/
    box-shadow: 0.3em 0.3em 0 #493125;
    margin-right: 1em;
}

@media only screen and (max-width: 700px) {
    .banner_text > h1 {
        font-size: 2em;
    }
}

.aboutme {
    background-image: url(../images/water_sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
/*    min-height: 40em;*/
    color: white;
    padding: 10em 0 3em 0;
/*    margin-top: 10em;*/
}

.intro,
.where,
.moreabout {
    background-color: white;
    color: black;
    padding: 0.2em;
    margin: 0 10% 0 10%;
    box-shadow: 0.3em 0.33em 0 #000;
    border-radius: 0.35em;
}

.where {
    margin: 3em 10%;
}

.moreabout_in {
    margin: 0.4em 0.9em;

}

h1 {
    padding-left: 0.4em;
}

p, .moreabout > p {
    margin: 0.4em 0.4em 1.4em 1.4em;
	letter-spacing: 0.01em;
}

.projects {
    margin: 0 10% 0 10%;
}

.projects >img {
    border: 1px solid  #b5b5b5;
    border-radius: 0.35em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
	margin-top: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #A0CDEC;
	border-bottom: 0.5em solid #2E475D;
    text-align: center;
}
    
.sociallinks > li {
	display: inline;
}

footer p {
	color: white;
}



    

